* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}



/* NavBar *******************************/
.navdiv {
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
    background-color: #EEEEEE;
    padding: 10px;
    position: fixed;
    font-size: 0;
}
.navdiv nav {
    position: absolute;
    right: 10px;
    top: 10px;
}
.a-nav {
    font-size: 18px;
    padding-right: 12px;
}
.navdiv h1 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


/* Search Section *********************/
.search-section {
    padding-left: 80px;
    padding-top: 80px;
    font-size: 17px;
}
label {
    display: block;
    margin-bottom: 8px;
}
.search-section input {
    border: 1px solid #DDDDDD;
    border-radius: 3px;
}
#searchinput {
    line-height: 30px;
    width: 400px;
    padding-left: 8px;
    font-size: 15px;
}
input[type="image"] {
    height: 34px;
    width: auto;
    background-color: white;
    vertical-align: middle;
  }



/* Pages nav *******************************/
.pages {
    margin-left: 80px;   
    margin-top: 30px;
    display: inline-block;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    font-size: 0;
}
.pages > * {
    font-size: 16px;
    display: inline-block;
    line-height: 30px;
}
.pages-button {
    padding-left: 10px;
    padding-right: 10px;
}
.pages-display {
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding-left: 25px;
    padding-right: 25px;
}



/* Listings *************************************/
.listings {
    padding: 0px;
    margin-left: 80px;
    margin-top: 30px;
    font-size: 0px;
}
.listing {
    list-style: none;
    margin-bottom: 10px;
}
.listing > * {
    margin-right: 12px;
}
.listing-date, .listing-location{
    color: #999;
    font-size: 16px;

}
.listing-title {
    font-weight: bold;
    font-size: 17px;
}